/*  
background-color: #707070; header
background-color: #EC646B; nav
background-color: #FDF0DF; pricipal


*/

header {
    background-color: #B5B7AE;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloPagina {
    font-family: 'Italiana', serif;
    font-size: 60px;
    color: #ffffff;
    padding: 0px;
}

.subtituloPagina {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 25px;
    color: #ffffff;
    padding-bottom: 7px;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0px;
    background-color: #7Bc7c5;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 1;
    color: #ffffff;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

nav li {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    padding: 5px 20px 5px 20px;
    margin: 0px;
    position: relative;
}

a {
    display: block;
    font-variant: 300;
}

ul li a {
    color: white;
}

a:link {
    color: #ffffff;
    text-decoration: none;
}

a:visited {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #26a3d9;
}

ul ul {
    position: absolute;
    background-color: #7Bc7c5;
    display: none;
}

ul ul li {
    padding: 5px;
    width: 100%;
}

ul li:hover {
    color: #26a3d9;
}

ul li:hover ul {
    display: block;
}

.wrapperPrincipal {}

.principal h1 {
    font-family: 'Italiana', serif;
}

.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    min-width: 600px;
    max-width: 1920px;
}

.principal h1 {
    color: darkgray;
}

section p {
    color: darkgray;
}

.principal table {}

.principal table,
th,
td {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
}

.contacto {
    display: flex;
    justify-content: center;
}

.contacto form {
    max-width: 600px;
    text-align: left;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fotoPrincipal {
    display: flex;
    justify-content: center;
    overflow: hidden;
    max-width: 1920px;
    flex-shrink: 1;
}

.nosotros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.nosotrosPersona {
    width: 210px;
    height: 500px;
    overflow: hidden;
}

.nosotrosPersona img {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 50%;
}

.nosotrosPersona h3 {
    color: #7Bc7c5;
}

.nosotrosPersona p {
    color: #777777;
    font-size: 12px;
}

.relojesWrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.relojesWrapper div {
    padding: 5px;
    display: flex;
    width: 500px;
    height: 200px;
}

.relojesWrapper img {
    min-width: 150px;
    height: 200px;
    overflow: hidden;
}

.relojesWrapper div div {
    display: flex;
    flex-direction: column;
    text-align: left;
}