body {
  width: 100%;
  margin: 0px;
  padding: 0px; }

.bodyWrapper {
  max-width: 1140px;
  display: grid;
  margin: 0 auto;
  grid-template-areas: "header" "coleccionDestacada" "generos" "productosDestacados" "categorias" "footer";
  grid-row-gap: 1px; }

/*****   OTROS     *******/
.aire {
  height: 150px; }

.coleccionDestacada {
  grid-area: coleccionDestacada;
  display: grid; }
  .coleccionDestacada img {
    object-fit: cover;
    width: 100%;
    height: auto;
    max-height: 500px; }

.descColeccion {
  padding: 20px 20px 20px 20px; }

.tituloContenido {
  font-size: 30px;
  font-family: "Montserrat";
  font-weight: 400;
  family: "Montserrat", 400; }

.botonContenido {
  display: flex;
  width: 150px;
  padding: 15px;
  border: black solid 1px;
  justify-content: center; }

.generos {
  grid-area: generos;
  display: flex;
  flex-direction: column;
  padding: 5px; }
  .generos img {
    object-fit: cover;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    max-height: 150px; }

.productoDestacadoWrapper {
  grid-area: productosDestacados;
  display: grid;
  grid-row-gap: 1px; }

.productosDestacados {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  margin: 30px;
  overflow: auto; }

.productosDestacados img {
  width: 200px;
  height: 200px; }

.productosDestacados > * {
  padding: 30px;
  color: #000000;
  font-size: 0px;
  font-family: "Montserrat";
  font-weight: 400;
  family: "Montserrat", sans-serif; }

.prdDestTitulo {
  font-size: 0px; }

.prdDestDesc {
  font-size: 0px; }

.productosDeLaSeccion {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .productosDeLaSeccion div {
    max-width: 300px;
    margin-bottom: 10px; }
    .productosDeLaSeccion div div {
      margin-bottom: 0px; }
  .productosDeLaSeccion img {
    width: 100%; }

/*****/
.colecciones {
  grid-area: categorias;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; }

.itemColecciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  position: relative;
  justify-self: center;
  margin: 15px; }
  .itemColecciones a {
    position: relative;
    /*border: solid 1px black;*/
    overflow: hidden;
    transition-duration: 1000ms; }
  .itemColecciones img {
    transition-duration: 1000ms;
    max-width: 100%;
    max-height: 100%; }

.itemColecciones:hover img {
  opacity: 50%;
  transform: scale(1.5); }

.itemColecciones:hover .itemColeccionesTexto {
  opacity: 100%; }

.itemColecciones:hover a {
  border: solid #7Bc7c5 5px; }

.itemColeccionesTexto {
  font-size: 20px;
  font-family: "Montserrat";
  font-weight: 400;
  family: "Montserrat", sans-serif;
  opacity: 0%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition-duration: 1000ms;
  background-color: #7Bc7c5;
  padding: 10px; }

/*****/
footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: space-around;
  background-color: #000000; }
  footer div {
    color: #ffffff;
    padding: 10px 20px 10px 20px; }
  footer img {
    height: 75px; }

.redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 40px 0px 40px 0px; }
  .redes img {
    margin: 0px 20px 0px 20px;
    width: 35px;
    height: 35px; }

.efectoCompra {
  position: relative;
  transition-duration: 2s; }
  .efectoCompra img:hover {
    opacity: 40%; }
  .efectoCompra img:hover ~ .textoComprar {
    opacity: 100%; }

.textoComprar {
  font-size: 20px;
  font-family: "Montserrat";
  font-weight: 400;
  family: "Montserrat", sans-serif;
  color: #FFFFFF;
  background-color: #7Bc7c5;
  opacity: 0%;
  position: absolute;
  top: 70px;
  left: 50px;
  transition-duration: 1000ms; }

nav {
  grid-area: nav;
  display: none;
  flex-direction: column;
  align-items: center;
  font-size: 0px;
  background-color: #7Bc7c5; }
  nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 1;
    color: #ffffff;
    font-size: 16px;
    padding: 0;
    margin: 0; }
  nav li {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    padding: 5px 20px 5px 20px;
    margin: 0px;
    position: relative; }

ul li a {
  color: #FFFFFF; }

a {
  display: inline;
  font-variant: 300; }
  a:link {
    color: #FFFFFF;
    text-decoration: none; }
  a:visited {
    color: #FFFFFF;
    text-decoration: none; }
  a:hover {
    color: #26a3d9; }

ul ul {
  position: absolute;
  top: 30px;
  background-color: #7Bc7c5;
  display: none; }
  ul ul li {
    padding: 5px;
    width: 100%; }

ul li:hover {
  color: #26a3d9; }

ul li:hover > ul {
  display: block; }

header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  background-color: #B5B7AE;
  align-items: center; }

.logoHeader {
  display: flex;
  margin-left: 10px;
  width: 50px;
  height: 50px; }
  .logoHeader img {
    width: 100%;
    height: 100%; }

.tituloHeader {
  width: 100%;
  display: flex;
  font-size: 30px;
  font-family: "italiana";
  font-weight: 400;
  family: "italiana", serif;
  color: #ffffff;
  justify-content: center; }

.subtituloHeader {
  display: none;
  font-size: 25px;
  font-family: "Montserrat";
  font-weight: 100;
  family: "Montserrat", sans-serif;
  color: #ffffff;
  padding-bottom: 7px;
  justify-content: center; }

@media (min-width: 700px) and (max-width: 999px) {
  .bodyWrapper {
    display: grid;
    grid-template-areas: "header" "nav" "coleccionDestacada" "generos" "productosDestacados" "colecciones" "footer";
    grid-row-gap: 1px; }
  header {
    flex-direction: column;
    justify-items: center; }
  .logoHeader {
    display: none; }
  .tituloHeader {
    font-size: 60px;
    font-family: "Italiana";
    font-weight: 400;
    family: "Italiana", serif;
    display: flex;
    color: #ffffff;
    justify-content: center; }
  .subtituloHeader {
    display: flex; }
  nav {
    display: flex; }
  footer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
  .generos img {
    object-fit: cover;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    max-height: 250px; }
  .redes {
    grid-column: 1/4; }
  .prdDestTitulo {
    font-size: 22px; }
  .prdDestDesc {
    margin-top: 5px;
    font-size: 15px; }
  .productosDeLaSeccion {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
  .productosDeLaSeccion div {
    padding: 20px; }
  .productosDeLaSeccion div div {
    padding: 0px; } }

@media (min-width: 1000px) {
  .bodyWrapper {
    display: grid;
    grid-template-areas: "header" "nav" "coleccionDestacada" "generos" "productosDestacados" "colecciones" "footer";
    grid-row-gap: 1px; }
  header {
    flex-direction: column;
    justify-items: center; }
  .logoHeader {
    display: none; }
  .tituloHeader {
    font-size: 60px;
    font-family: "Italiana";
    font-weight: 400;
    family: "Italiana", serif;
    display: flex;
    color: #ffffff;
    justify-content: center; }
  .subtituloHeader {
    display: flex; }
  nav {
    display: flex; }
  footer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
  .generos img {
    object-fit: cover;
    width: 40%;
    height: auto;
    margin-bottom: 10px;
    max-height: 250px; }
  .redes {
    grid-column: 1/4; }
  .prdDestTitulo {
    font-size: 22px; }
  .prdDestDesc {
    margin-top: 5px;
    font-size: 15px; }
  .productosDeLaSeccion {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
  .productosDeLaSeccion div {
    padding: 20px; }
  .productosDeLaSeccion div div {
    padding: 0px; }
  .primerAire {
    height: 50px; }
  .coleccionEspecial {
    position: absolute;
    left: 20px;
    align-self: flex-end;
    padding-bottom: 80px; }
  .colecciones {
    grid-area: categorias;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr; }
  .itemColecciones {
    justify-self: center;
    min-width: 200px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    position: relative;
    margin: 15px; } }
