header {
    display: flex;
    flex-direction: column;
    background-color: #B5B7AE;
    align-items: center;
}


/* .logoHeader {
    display: flex;
    margin-left: 10px;
    width: 50px;
    height: 50px;
}

.logoHeader img {
    width: 100%;
    height: 100%;
} */

.tituloHeader {
    width: 100%;
    display: flex;
    font-family: 'Italiana', serif;
    font-size: 60px;
    color: #ffffff;
    justify-content: center;
}

.tituloHeader a {
    text-decoration: none;
    color: #ffffff;
}

.subtituloHeader {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 25px;
    color: #ffffff;
    padding-bottom: 7px;
    justify-content: center;
}

nav {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    padding: 5px 20px 5px 20px;
    margin: 0px;
}

.bg-light {
    background-color: #7Bc7c5 !important;
}


/* .dropdown-menu {
    background-color: #7Bc7c5 !important;
}

.dropdown-item:hover {
    background-color: #7Bc7c5;
    color: #26a3d9;
}

.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
} */

.carousel-caption {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 20px;
    top: 100px;
    max-width: 250px;
    max-height: 200px;
    color: #000000;
    background-color: #ffffff;
}

.navbar {
    background-color: #7bc7c5;
}

.navbar .navbar-brand {
    color: #ffffff;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #26a3d9;
}

.navbar .navbar-text {
    color: #ffffff;
}

.navbar .navbar-text a {
    color: #26a3d9;
}

.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #26a3d9;
}

.navbar .navbar-nav .nav-link {
    color: #ffffff;
    border-radius: .25rem;
    margin: 0 0.25em;
}

.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #26a3d9;
}

.navbar .navbar-nav .dropdown-menu {
    background-color: #7bc7c5;
    border-color: #7bc7c5;
}

.navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #ffffff;
}

.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #26a3d9;
    background-color: #7bc7c5;
}

.navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #7bc7c5;
}

.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #26a3d9;
    background-color: #7bc7c5;
}

.navbar .navbar-toggle {
    border-color: #7bc7c5;
}

.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #7bc7c5;
}

.navbar .navbar-toggle .navbar-toggler-icon {
    color: #ffffff;
}

.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #ffffff;
}

.navbar .navbar-link {
    color: #ffffff;
}

.navbar .navbar-link:hover {
    color: #26a3d9;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #26a3d9;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #26a3d9;
        background-color: #7bc7c5;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #26a3d9;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #26a3d9;
        background-color: #7bc7c5;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #26a3d9;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #26a3d9;
        background-color: #7bc7c5;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #26a3d9;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #26a3d9;
        background-color: #7bc7c5;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #26a3d9;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #26a3d9;
    background-color: #7bc7c5;
}


/**************************************/

.descColeccion {
    padding: 20px 20px 20px 20px;
}

.tituloContenido {
    font-family: 'Montserrat', sans-serif;
    font-variant: 400;
    font-size: 30px;
    color: #B5B7AE;
}

.botonContenido {
    display: flex;
    width: 150px;
    padding: 15px;
    border: black solid 1px;
    justify-content: center;
}

.productoDestacadoWrapper {
    display: grid;
    grid-row-gap: 1px;
}

.productosDestacados {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
    overflow: auto;
}

.productosDestacados>* {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}

.colecciones {
    grid-area: categorias;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}

.itemColecciones {
    justify-self: center;
    min-width: 200px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    position: relative;
    margin: 15px;
}

footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
    background-color: #000000;
}

footer div {
    color: #ffffff;
    padding: 10px 20px 10px 20px;
}

footer img {
    height: 75px;
}