/*****************  COLORES  ***********************/

$colorPrincipal: #7Bc7c5;
$colorSecundario: #B5B7AE;
$colorLink: #FFFFFF;
$colorLinkVisited: #FFFFFF;
$colorHover: #26a3d9;

/*****************  FUENTES  ***********************/

$fontPrincipal $fontSecundaria $fontTerciaria
/*****************  BREAKPOINTS  ***********************/

$breakpoint-sm: 360px;
$breakpoint-md: 700px;
$breakpoint-lg: 1000px;

/*****************  COLORES  ***********************/


/*****************  COLORES  ***********************/


/*****************  COLORES  ***********************/