@media (min-width: 700px) and (max-width: 999px) {
    nav {
        display: flex;
    }
    .generos img {
        object-fit: cover;
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        max-height: 250px;
    }
    .prdDestTitulo {
        font-size: 22px;
    }
    .prdDestDesc {
        margin-top: 5px;
        font-size: 15px;
    }
    .productosDeLaSeccion {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .productosDeLaSeccion div {
        padding: 20px;
    }
    .productosDeLaSeccion div div {
        padding: 0px;
    }
}

@media (min-width: 1000px) {
    nav {
        display: flex;
    }
    .generos img {
        object-fit: cover;
        width: 40%;
        height: auto;
        margin-bottom: 10px;
        max-height: 250px;
    }
    .prdDestTitulo {
        font-size: 22px;
    }
    .prdDestDesc {
        margin-top: 5px;
        font-size: 15px;
    }
    .productosDeLaSeccion {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .productosDeLaSeccion div {
        padding: 20px;
    }
    .productosDeLaSeccion div div {
        padding: 0px;
    }
    .primerAire {
        height: 50px;
    }
    .itemColecciones {
        justify-self: center;
        min-width: 200px;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
        position: relative;
        margin: 15px;
    }
}