.coleccionDestacada {
    @include font($fontSecundaria, 'sans-serif', 400);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    img {
        grid-row: 1;
        grid-column: 1/13;
        object-fit: cover;
        width: 100%;
        height: auto;
        max-height: 300px;
    }
    div {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        grid-column: 1/7;
        grid-row: 1;
    }
    margin-bottom: 40px;
}

.coleccionDestDesc {
    display: flex;
    padding: 15px 15px 15px 15px;
    h1 {
        font-size: 2rem;
        @include media(lg) {
            font-size: 3rem;
        }
    }
    p {
        font-size: 1.5rem;
        display: none;
        @include media(lg) {
            display: flex;
            font-size: 2rem;
        }
    }
}

.botonContenidoDest {
    display: grid;
    padding: 10px;
    min-width: 130px;
    max-width: 180px;
    border: black solid 1px;
    justify-self: center;
    font-size: 1.5rem;
    span {
        align-self: center;
        padding: 0px;
        margin: 0px;
    }
}