footer {
    border-top: solid 5px $colorPrincipal;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    margin-bottom: 100px;
}

.footerWrapper {
    width: 100%;
    max-width: 1140px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
    div {
        padding: 10px 20px 10px 20px;
    }
    img {
        height: 75px;
    }
}

.footerInfo {
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: 1fr;
    @include media(md) {
        grid-template-columns: 1fr;
    }
    @include media(lg) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    a {
        display: block;
        padding: 5px;
        color: #000000;
        @include font($fontFooter, 'sans-serif', 400);
        font-size: 1.5rem;
    }
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px 0px 40px 0px;
    img {
        margin: 0px 20px 0px 20px;
        width: 25px;
        height: 25px;
    }
}

details {
    font-size: 2rem;
    @include font($fontFooter, 'sans-serif', 300);
}

.detallesFooter {
    display: block;
    @include media(md) {
        display: block;
    }
    @include media(lg) {
        display: none;
    }
}

.columnaFooter {
    display: none;
    @include media(md) {
        display: none;
    }
    @include media(lg) {
        display: block;
    }
}