html {
    font-size: 62.5%;
}

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    .bodyContent {
        max-width: 1140px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        margin: 0 auto;
        .coleccionDestacada {
            grid-column: 1/13;
        }
        .productoDestacadoWrapper {
            grid-column: 2/12;
        }
        .generos {
            grid-column: 2/12;
        }
        .colecciones {
            grid-column: 2/12;
        }
    }
}


/*****   OTROS     *******/

.tituloContenido {
    @include font('Montserrat', 'serif', 400)
}


/*****/

.itemColecciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    position: relative;
    justify-self: center;
    margin: 15px;
    a {
        position: relative;
        overflow: hidden;
        transition-duration: 1000ms;
    }
    img {
        transition-duration: 1000ms;
        max-width: 100%;
        max-height: 100%;
    }
}

.itemColecciones:hover img {
    opacity: 50%;
    transform: scale(1.5);
}

.itemColecciones:hover .itemColeccionesTexto {
    opacity: 100%;
}

.itemColecciones:hover a {
    border: solid #7Bc7c5 5px;
}

.itemColeccionesTexto {
    @include font('Montserrat', 'sans-serif', 400);
    opacity: 0%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition-duration: 1000ms;
    background-color: #7Bc7c5;
    padding: 10px;
}


/*****/

.efectoCompra {
    position: relative;
    transition-duration: 2s;
    img:hover {
        opacity: 40%;
    }
    img:hover~.textoComprar {
        opacity: 100%;
    }
}

.textoComprar {
    @include font('Montserrat', 'sans-serif', 400);
    color: #FFFFFF;
    background-color: #7Bc7c5;
    opacity: 0%;
    position: absolute;
    top: 70px;
    left: 50px;
    transition-duration: 1000ms;
}