body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.bodyWrapper {
    max-width: 1140px;
    display: grid;
    margin: 0 auto;
    grid-template-areas: "header" "coleccionDestacada" "generos" "productosDestacados" "categorias" "footer";
    grid-row-gap: 1px;
}


/*****   OTROS     *******/

.aire {
    height: 150px;
}

.coleccionDestacada {
    grid-area: coleccionDestacada;
    display: grid;
    img {
        object-fit: cover;
        width: 100%;
        height: auto;
        max-height: 500px;
    }
}

.descColeccion {
    padding: 20px 20px 20px 20px;
}

.tituloContenido {
    @include font(30px, 'Montserrat', 400)
}

.botonContenido {
    display: flex;
    width: 150px;
    padding: 15px;
    border: black solid 1px;
    justify-content: center;
}

.generos {
    grid-area: generos;
    display: flex;
    flex-direction: column;
    padding: 5px;
    img {
        object-fit: cover;
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        max-height: 150px;
    }
}

.productoDestacadoWrapper {
    grid-area: productosDestacados;
    display: grid;
    grid-row-gap: 1px;
}

.productosDestacados {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
    margin: 30px;
    overflow: auto;
}

.productosDestacados img {
    width: 200px;
    height: 200px;
}

.productosDestacados>* {
    padding: 30px;
    color: #000000;
    @include font(0px, 'Montserrat', 'sans-serif');
}

.prdDestTitulo {
    font-size: 0px;
}

.prdDestDesc {
    font-size: 0px;
}

.productosDeLaSeccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
        max-width: 300px;
        margin-bottom: 10px;
        div {
            margin-bottom: 0px;
        }
    }
    img {
        width: 100%;
    }
}


/*****/

.colecciones {
    grid-area: categorias;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.itemColecciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    position: relative;
    justify-self: center;
    margin: 15px;
    a {
        position: relative;
        /*border: solid 1px black;*/
        overflow: hidden;
        transition-duration: 1000ms;
    }
    img {
        transition-duration: 1000ms;
        max-width: 100%;
        max-height: 100%;
    }
}

.itemColecciones:hover img {
    opacity: 50%;
    transform: scale(1.5);
}

.itemColecciones:hover .itemColeccionesTexto {
    opacity: 100%;
}

.itemColecciones:hover a {
    border: solid #7Bc7c5 5px;
}

.itemColeccionesTexto {
    @include font(20px, 'Montserrat', 'sans-serif', 400);
    opacity: 0%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition-duration: 1000ms;
    background-color: #7Bc7c5;
    padding: 10px;
}


/*****/

footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
    background-color: #000000;
    div {
        color: #ffffff;
        padding: 10px 20px 10px 20px;
    }
    img {
        height: 75px;
    }
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px 0px 40px 0px;
    img {
        margin: 0px 20px 0px 20px;
        width: 35px;
        height: 35px;
    }
}

.efectoCompra {
    position: relative;
    transition-duration: 2s;
    img:hover {
        opacity: 40%;
    }
    img:hover~.textoComprar {
        opacity: 100%;
    }
}

.textoComprar {
    @include font(20px, 'Montserrat', 'sans-serif', 400);
    color: #FFFFFF;
    background-color: #7Bc7c5;
    opacity: 0%;
    position: absolute;
    top: 70px;
    left: 50px;
    transition-duration: 1000ms;
}