nav {
    grid-area: nav;
    display: none;
    flex-direction: column;
    align-items: center;
    font-size: 0px;
    background-color: $colorPrincipal;
    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        flex-shrink: 1;
        color: #ffffff;
        font-size: 16px;
        padding: 0;
        margin: 0;
    }
    li {
        display: flex;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 3px;
        padding: 5px 20px 5px 20px;
        margin: 0px;
        position: relative;
    }
}

ul li a {
    color: $colorLink;
}

a {
    display: inline;
    font-variant: 300;
    &:link {
        color: $colorLink;
        text-decoration: none;
    }
    &:visited {
        color: $colorLinkVisited;
        text-decoration: none;
    }
    &:hover {
        color: $colorHover;
    }
}

ul ul {
    position: absolute;
    top: 30px;
    background-color: $colorPrincipal;
    display: none;
}

ul ul li {
    padding: 5px;
    width: 100%;
}

ul li:hover {
    color: $colorHover;
}

ul li:hover>ul {
    display: block;
}